html, body, h1, h2,
h3, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	padding: 20px 20px 20px 20px;
}

h1 {
	margin: 10px 0 15px 0;
}

h2 {
	margin: 10px 0 20px 0;
}

h3 {
	margin: 15px 0 15px 0;
}

ol {
	padding: 0 0 0 50px;
}

ul {
	padding: 0 0 0 50px;
}