/* Resets all default browser styles */
html, body, header, h1, h2,
h3, p, ol, ul, li, figure, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 16px;
	font: inherit;
}

/* Sets default font styles */
body {
	padding: 0 0 0 0;
	background-color: #ddeeff;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	font-size: 1em;
	color: #555;
}

/* Sets style for Garron Sanchez */
h1 {
	margin: 0 0 3% 0;
	font-size: 4em;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #555;
}

/* Extra h2 h3 unused styles */
h2 {
	margin: 10px 0 20px 0;
}

h3 {
	margin: 15px 0 15px 0;
}

/* Remove default list styles */
ol, ul {
	list-style-type: none;
}

p {
	font-weight: 200;
	font-size: 1em;
	margin: 1% 0;
}

a {
	text-decoration: none;
	color: #555;
	font-weight: 300;
	font-size: 1em;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

/* Navigation bar */
nav {
	padding: 0.625%;
	text-align: right;
}

nav li {
	display: inline;
	padding-right: 4%;
}

nav a {
	font-size: 1.25em;
}

/* main contains .left and .right */
main {
	height: 100%;
	width: 90%;
	padding: 2.5%;
	margin: 2.5% auto 0 auto;
/* Why do I need overflow: hidden to expand main to contain .left and .right? */
	overflow: hidden;
}

/* Profile photo */
.right {
	float: right;
	height: 80%;
	width: 35%;
	overflow: hidden;
}

figure {
	background: url(../images/salt_flats.jpg) no-repeat;
	border: 1.5px  solid   #555;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	margin: 0 auto 3% auto;
	overflow: hidden;
}
/* About Me section */
.left {
	float: left;
	height: 100%;
	width: 60%;
	overflow: visible;
}

/* Descriptive paragraph */
.bio {
	margin: 0 auto 4% auto;
	width: 90%;
	line-height: 22px;
}

/* List of skills */
.skills {
	text-align: center;
}

.skills li {
	background: #0055cc;
	color: #ddd;
	display: inline;
	padding: 1%;
	border-radius: 5px 10px 5px 12px;
	margin-left: 1%;
}

.skills li:first-child {
	margin-left: 0;
}

/* Contact links */
.social-media {
	text-align: center;
}

.social-media li {
	display: inline;
	margin-left: 5%;
}

.social-media li:first-child {
	margin-left: 0;
}

/*-------------------- 

Media Queries

---------------------*/

@media screen and (max-width: 736px) {
	main {
		border: 1px solid #000;
	}
	.right {
		float: none;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		border: 1px solid #000;
	}
	figure {
		background: url(../images/salt_flats_small.jpg) no-repeat;
		border: 1.5px  solid   #555;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		margin: 0 auto 3% auto;
		overflow: hidden;
	}
	.left {
		float: none;
		display: block;
		height: 100%;
		width: 100%;
		overflow: visible;
		border: 1px solid #000;
	}

}