body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	color: #E4D9DB;
	background-color: #6B8EA6;
}

h1 {
	font-size: 5em;
	font-weight: 400;
	text-decoration: underline;
}

.head-spacer{
	height: 10%;
}

.me {
	border-radius: 50%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #E4D9DB;
	font-weight: 300;
	font-size: 1em;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

.social-media {
	text-align: center;
}

.social-media li {
	margin: 5% 0 0 5%;
}

.social-media li:first-child {
	margin-left: 0;
}

.text {
	padding-top: 0;
}

.bio {
	font-size: 2em;
}

.skills li {
	background: #4A3845;
	color: #fff;
	padding: 1%;
	border-radius: 5px 10px 5px 12px;
	margin: 1% 0 0 1%;
	font-size: 1.1em;
}

.skills li:first-child {
	margin-left: 0;
}

.display-portfolio {
	margin: 3% auto 3% auto;
	padding: 1% 10% 1% 10%;
	font-size: 2em;
}

.userDirections {
	margin: 3% 0 3% 0;
	font-size: 2em;
}

.border {
	/*border: 3px solid blue;*/
}

.col-md-8, .col-xs-6, .col-md-6, .col-md-4 {
	/*border: 1px solid #000;*/
}

.project {
	width: 100%;
	margin: 2% auto 2% auto;
	/*border: 1px solid red;*/
	text-align: center;
}

.project-text {
	background: #40779B;
	color: #ddd;
	padding: 1%;
	border-radius: 5px 10px 5px 12px;
	margin: 5% 5% 0 7%;
}

.project div{
}

.project-image {
	border-radius: 8%;
  text-align: center;
}

.portfolio {
	width: 100%;
}

.details-btn {
	font-size: 2.5em;
	padding: 0 10% 0 10%;
}

li {
	list-style-type: none;
	display: inline-block;
}

.center {
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
}

.block {
	display: block;
	width: 100%;
}

.btn {
	background: #5A9CC7;
	color: #E4D9DB;
	font-weight: 200;
	text-shadow: none;
	border-radius: none;
	border: none;
}

.btn:hover {
	background: #333;
	color: #E4D9DB;
	font-weight: 200;
	text-shadow: none;
	border-radius: none;
	border: none;
}

.brief {
	margin: 1% 0 2% 0;
	font-size: 1.4em;
	font-weight: 500;
}

.description {
	font-size: 1.4em;
	font-weight: 200;
}