// Sass variables

$font-base: 200 "Helvetica Neue", Helvetica, sans-serif;

/* Resets all default browser styles */
html, body, header, h1, h2,
h3, p, ol, ul, li, figure, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

/* Sets default font styles */
body {
	background-color: #ddeeff;
	font: $font-base;
	color: #555;
}

/* Sets style for Garron Sanchez */
h1 {
	margin: 0 0 3% 0;
	font-size: 62px;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #555;
}

h2 {
	margin: 10px 0 20px 0;
}

h3 {
	margin: 15px 0 15px 0;
}

/* Remove default list styles */
ol, ul {
	list-style-type: none;
}

p {
	font-weight: 200;
	font-size: 16px;
	margin: 1% 0;
}

a {
	text-decoration: none;
	color: #555;
	font-weight: 300;
	font-size: 16px;
	&:hover { 
		color: #000;
		text-decoration: underline;
	}

}

/* Navigation bar */
nav {
	padding: 0.625%;
	text-align: right;
	li {
		display: inline;
		padding-right: 4%;
	}
	a {
		font-size: 20px;
	}
	
}

/* .content contains .left and .right */
main {
	height: 80%;
	width: 80%;
	padding: 2.5%;
	margin: 2.5% auto 0 auto;
}

/* Profile photo */
.right {
	float: right;
	height: 80%;
	width: 30%;
}

figure {
	text-align: center;
	img {
		border: 1.5px  solid   #555;
		border-radius: 50%;
		margin-bottom: 3%;
	}
}
/* About Me section */
.left {
	float: left;
	padding: 0 5%;
	height: 80%;
	width: 60%;
}

/* Descriptive paragraph */
.bio {
	margin: 0 auto 4% auto;
	width: 85%;
	line-height: 22px;
}

/* List of skills */
.skills {
	text-align: center;
	li {
		background: #0055cc;
		color: #ddd;
		display: inline;
		padding: 1%;
		border-radius: 5px 10px 5px 12px;
		margin-left: 1%;
		&:first-child {
			margin-left: 0;
		}
	}
}

/* Contact links */
.social-media {
	text-align: center;
	li {
		display: inline;
		margin-left: 5%;
		&:first-child {
			margin-left: 0;
		}
	}
}